<header class="main-header">
  <nav class="navbar navbar-inverse navbar-fixed-topp">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li>
          <a href="/">Pirates</a>
        </li>
        <li>
          <a href="/pirate">Add Pirate</a>
        </li>
        <li>
          <a href="/users">Users</a>
        </li>
      </ul>
    </div>
  </nav>
</header>