<form action="/pirate" method="POST">
  <div>
    <label for="sir_name">Sir Name: </label>
    <input type="text" name="sir_name">
  </div>
  <div>
    <label for="birth_country">Country: </label>
    <input type="text" name="birth_country">
  </div>
  <div>
    <label for="worth">Worth: </label>
    <input type="text" name="worth">
  </div>
  <div>
    <label for="death">Date Of Death: </label>
    <input type="text" name="death">
  </div>
  <div>
    <label for="nick_name">Nick Name: </label>
    <input type="text" name="nick_name">
  </div>
  <div>
    <button type="submit">Submit</button>
  </div>
</form>