<h1>You've POSTED a Pirate!!!</h1>
{{#if pirate}} Name : {{pirate.sir_name}} </br>
Skill : {{pirate.skill}} </br>
Nick Name : {{pirate.nick_name}} </br>


{{else}}
<p>
  <em>You did not send me a pirate.FAIL</em>
</p>
{{/if}}